{% extends "layout.html" %}
{% block body %}
<h2>Welcome to eHotels DBMS!</h2>

<p>This is the assignment for the Database Systems Course in NTUA for an eHotel DBMS by Dimitris Kelesis, Marios Papachristou and Panagiotis Tsapatsaris</p>
<p>The web application is developed in Python 3 with the Flask web microframework and uses a MySQL database system</p>
<br>
<center>
  <p style="text-align: center">Please choose an action below</p>

  <ul style="list-style-type:none">
    <li><a href="/checkin">Check-in</a></li>
    <li><a href="/reservation">Make Reservation</a></li>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/employees">Employees</a></li>
  </ul>

</center>



{% endblock %}
