{% extends "layout.html" %}
{% block body %}
<style>
  input {
    width: 100%;
  }
</style>

<h2>Create {{ tbl }}s</h2>
{% if error == False %}
<p>Enter details below</p>
<br>
<h2 style="text-align: center">{{ tbl }} Details</h2>
<form action = "/create/{{ type_of_result }}" method = "POST">
    <p>IRS Number<br><input type = "text" name = "IRSNumber" /></p>
     <p>First Name<br> <input type = "text" name = "FirstName" /></p>
     <p>Last Name<br> <input type = "text" name = "LastName" /></p>
     <p>Social Security Number<br> <input type = "text" name = "SocialSecurityNumber" /></p>
     <p>Address (Street)<br> <input type ="text" name = "Street" /></p>
     <p>Number<br> <input type ="text" name = "StreetNumber" /></p>
     <p>Postal Code<br> <input type="text" name = "PostalCode" /></p>
     <p>City<br> <input type="text" name = "City" /></p>
     <p style="text-align: center"><input type = "submit" value = "Create  {{ tbl }}" /></p>
  </form>

  {% else %}

  <p style="color: red">Ooops! There was an error in creating a {{ type_of_result }} since some required fields are empty!</p>
  <p stype="color: red">{{ error_log }}</p>
  {% endif %}


{% endblock %}
