{% extends "layout.html" %}
{% block body %}
<style>

#checkboxes ul {
  list-style: none;
}
#checkboxes input {
  width: 25% !important;
}

select {
  width: 100%;
}

</style>

<h2>Make a reservation</h2>

<p>Please select your preferences below</p>
<br>

<form action = "checkin_result/checkin_result" method = "POST">
    <p>Minimum Price (min 0)<br> <input type = "number" name = "MinimumPrice" value="0"/></p>
    <p>Maximum Price<br> <input type = "number" name = "MaximumPrice"/></p>

     <p>Minimum Stars (min 0)<br> <input type = "number" name = "MinimumStars" value="0"/></p>
     <p>Maximum Stars (max 5, default 5)<br> <input type = "number" name = "MaximumStars" value="5" /></p>
     <p>Check-in Date<br> <input required type = "date" name = "StartDate" /></p>
     <p>Check-out Date<br><input required type = "date" name = "FinishDate"/></p>
     <p>View<br> <select name="View">
      {% for x in views %}
        <option value="{{ x }}">{{ x }}</option>
      {% endfor %}
    </select></p>
     <p>Number of bed<br> <select name="Capacity">
      {% for x in capacityofrooms %}
        <option value="{{ x }}">{{ x }}</option>
      {% endfor %}
    </select></p>
     <p>City<br> <select name="City">
      {% for x in cities %}
        <option value="{{ x }}">{{ x }}</option>
      {% endfor %}
    </select></p>
    <p>Hotel Group ID<br> <select name="HotelGroupID">
      {% for x in hotelgroupid %}
        <option value="{{ x }}">{{ x }}</option>
      {% endfor %}
    </select></p>
    <p>Number Of Available Rooms<br> <input type = "number" name = "NumberOfRooms" required/></p>

     <div id="checkboxes">
     <label>Amenities</label>
     <ul>
       {% for x in amenities %}
       <li><input name="{{ x }}" type="checkbox">{{ x }}</li>
       {% endfor %}
     </ul>

    <label>Ordered by</label><br>
    <ul>
    <li><input type="radio" name="orderBy" value="Capacity" required> Capacity<br></li>
    <li><input type="radio" name="orderBy" value="City"> Region<br></li>
    <ul>
     <p style="text-align: center"><input type = "submit" value = "Search" /></p>
   </div>
  </form>




{% endblock %}
